{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Category</h1>

            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ category.id }}</td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td>{{ category.category }}</td>
                    </tr>
                </tbody>
            </table>


            <div style="background-color:#aa9; padding-left:30px;">
                <p>
                    <span>Посты категории:</span><br>
                    <ul>
                        {% for post in category.posts %}
                            <li><a href="/admin/posts/{{post.id}}">{{post.id}}</a> {{post.title}}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>

            <ul>
                <li>
                    <a href="{{ path('admin_categories_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('admin_categories_edit', { 'id': category.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
