{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>Post</h1>

            <table>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ post.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ post.title }}</td>
                    </tr>
                    <tr>
                        <th>Text</th>
                        <td>{{ post.text }}</td>
                    </tr>
                    <tr>
                        <th>Authorid</th>
                        <td>{{ post.authorId }} ({{post.author.name}})</td>
                    </tr>
                </tbody>
            </table>

            <div style="background-color:#aa9; padding-left:30px;">
                <p>
                    <span>Категории поста:</span><br>
                    <ul>
                        {% for cat in post.categories %}
                            <li><a href="/admin/categories/{{cat.id}}">{{cat.id}}</a> {{cat.category}}</li>
                        {% endfor %}
                    </ul>
                </p>
            </div>

            <ul>
                <li>
                    <a href="{{ path('admin_posts_index') }}">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('admin_posts_edit', { 'id': post.id }) }}">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                        <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
